.nav_container {
  display: flex;
  height: 110px;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px;
  /* background-color: #f2f2f2; */
  /* color: #333; */
  position: relative;
  z-index: 1000;
}

.gty {
  /* position: sticky; */
  /* border-bottom: 1px solid #adabab33; */
  z-index: 999999;
  top: 0;
}
.nav_left {
  flex: 5;
}
.nav_middle {
  flex: 2.9;
  display: flex;
  gap: 0px;
}
.nav_right {
  position: relative;
  flex: 2;
}

.right_ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.right_ul .right_li {
  list-style: none;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  width: fit-content;
}
.nav_ul {
  display: flex;
  gap: 10px;
}

.nav_ul li {
  list-style-type: none;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
  font-size: 12px;
  /* justify-content: flex-end; */
  display: flex;
  /* transform: translateY(0%) translateZ(0px); */
  opacity: 1;
}

.mobile_ul_section,
.right_l {
  display: none;
}
@media screen and (max-width: 1105px) {
  .nav_container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 590px) {
  .nav_container {
    height: 70px;
    position: sticky;
    top: 0;
  }

  .linka {
    cursor: none;
  }

  .right_l {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-transform: uppercase;
    /* margin: 0 20px; */
    font-weight: 300;
  }

  .nav_container {
    display: flex;
    justify-content: space-between;
  }

  .ela {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .nav_ul li,
  .right_ul .right_li {
    display: none;
    flex: 0;
  }

  .nav_title {
    font-weight: 400;
  }

  .mobile_ul_section {
    position: fixed;
    border-top: 1px solid #636161;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    /* padding: 40px 20px; */
    height: 100vh;
    top: 68px;
    right: 0;
    display: flex;
    /* padding: 0 20px; */
    visibility: visible;
    z-index: 1;
    opacity: 1; /* Fully opaque */
    transition: 0.5s all ease-in-out;
  }

  .mobile_ul {
    display: flex;
    flex-direction: column;
    /* background-color: #f2f2f2; */

    padding: 40px 20px;
    /* align-items: center; */
    /* justify-content: center; */
    text-transform: uppercase;
    gap: 20px;
    position: relative;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .mobile_li {
    font-size: 20px;
    list-style: none;
  }
}

@media screen and (max-width: 400px) {
  .nav_title {
    /* font-size: 17px; */
  }

  .right_l {
    font-size: 15px;
  }
}
