.cultural {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1000;
}

.sub_cultural {
  height: 70vh;
  border-radius: 5px;
  background-color: transparent;
}

.sub_cultural .parallax-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: translateZ(0);
  transition: transform 2.5s ease-out;
}

.sub_cultural:nth-of-type(3) {
  grid-column: 4/5;
}
.sub_cultural:nth-of-type(4) {
  grid-column: 3/5;
}
.sub_cultural:nth-of-type(6) {
  grid-column: 3/4;
}

.sub_cultural {
  width: 100%;
  /* height: 400px; Adjust the height as needed */
  overflow: hidden;
  position: relative;
}

.sub_cultural:hover .parallax-img {
  transform: scale(1.2); /* Adjust the scale factor for the parallax effect */
  border-radius: 5px;
}

.culture_values {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.values_title {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.demo {
  margin-bottom: 50px;
}
.sub_culture_topic {
  color: #a2a2a9;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  margin-bottom: 5px;
  font-family: AftenScreen, sans-serif;
}

.sub_culture_para {
  font-family: AftenScreen, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.04em;
  line-height: 1.3;

  font-size: 24px;
}
.bottom_culture_section {
  margin-top: 100px;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  margin-bottom: 80px;
}

.bottom_culture {
  font-weight: 400;
  font-size: 35px;
  letter-spacing: -0.03em;
  line-height: 1.1;

  font-family: "AftenScreen", sans-serif;
  width: 86%;
}

@media screen and (max-width: 745px) {
  .sub_cultural {
    height: 50vh;
    margin-top: 30px;
  }

  .bottom_culture {
    width: 100%;
    font-size: 30px;
  }

  .bottom_culture_section {
    margin-top: 70px;
  }

  .sub_cultural .parallax-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
@media screen and (max-width: 589px) {
  .sub_culture_para {
    font-size: 17px;
  }
  .sub_culture_topic {
    font-size: 18px;
  }

  .sub_cultural {
    /* height: 30vh; */
    width: 100%;
  }

  .cultural {
    width: 100%;
    height: 100%;
  }

  .sub_cultural .parallax-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .bottom_culture_section {
    margin-top: 50px;
  }

  .bottom_culture {
    font-size: 24px;
  }
}
@media screen and (max-width: 530px) {
  .sub_cultural:nth-of-type(1) {
    grid-column: 1/3;
  }

  .culture_values {
    display: flex;
    flex-direction: column;
  }


 
  .cultural {
    margin-bottom: 10px;
  }
  .sub_cultural {
    height: 30vh;
  }
  .sub_cultural:nth-of-type(4) {
    grid-column: 1/3;
  }
  .sub_cultural:nth-of-type(6) {
    grid-column: 4/5;
  }
}
