.custom-cursor {
    position: fixed;
    width: 60px;
    height: 60px;
    border: 2px solid #fff; /* Adjust border color */
    border-radius: 50%;
    mix-blend-mode: difference;
    /* cursor: pointer; */
    pointer-events: none;
    cursor: zoom-in;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s;
    z-index: 1000; /* Ensure the cursor appears above other elements */
  }



  .custom-cursor:hover{
    /* display: none; */
  }

  .gh{
  position: relative;
z-index: 10000;
  }
  