.header_container {
  padding: 0 50px;
  width: 100%;
  height: auto;
  position: relative;
  /* background-color: #f2f2f2; */
  overflow: hidden;
  z-index: 1000;
}

.header_sub {
  display: flex;
  padding: 30px 0px;
  /* animation: float 6s ease-in-out infinite; */
  /* margin-top: 30px; */
}

.header_left {
  flex: 5;
}
.no {
}
.header_middle {
  flex: 3;
  background-color: transparent;
  z-index: 2;
  /* margin: 50px 0; */
  position: relative;
  overflow: hidden;
  height: auto;
}

.header_title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 5px;
  color: #a2a2a9;
}
.two {
  margin-top: 10px;
  color: #070707;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 110px;
}

.two {
  cursor: pointer;
  transition: width 0.9s;
}

.arrower {
  width: 15px;
  height: 15px;
  font-size: 10px;
}

.two:hover .arrower {
  width: 40px;
  height: 15px;

  transition: width 0.9s;
  color: teal !important;
  font-size: 10px;
}

.two,
.fade-in:hover {
}

.header_para {
  font-size: 12px;
  width: 70%;
  line-height: 1.3;
}
.header_right {
  /* position: relative; */
  flex: 2;
}

.header_grid {
  margin-top: 10px;
  display: grid;
  position: relative;
  z-index: 1000;
  grid-template-columns: 1fr 2fr;
  position: relative;
}

.sm {
  color: #a2a2a9 !important;
  position: relative;

  z-index: 1000;
}

.grid_text {
  position: relative;

  z-index: 1000;
  font-size: 130px;
  font-weight: 400;
  text-transform: capitalize;
}

.video_container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  position: relative;

  z-index: 1000;
  margin-top: 20px;
  padding: 10px;
  /* animation: float 6s ease-in-out infinite; */
}

.header_sub_grid {
  position: relative;

  z-index: 1000;
}
.tube {
}

.tube:nth-of-type(1) {
}

.lk {
  position: relative;

  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* header.css */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header_container.fade-in .fade-in {
}

.animation-complete {
  opacity: 1;
  transform: translateY(0);
}

/* header.css */

.video_container.fade-in video {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

video {
  width: 100%;
  height: auto;
}

.sentence-container {
  /* z-index: 1000; */
  height: 50vh;
  display: flex;
  overflow: hidden;
  padding: 80px 50px;
  position: relative;
}

/* header.css */

.fade-in-round {
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInRound 1s ease forwards;
}

@keyframes fadeInRound {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.senta,
.sentence {
  padding: 80px 50px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  /* opacity: 0; */
  transform: scale(1);
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
  width: 100%;
}

.dg,
.dg2 {
  font-weight: 400;
  font-size: 90px;
  line-height: 1.1;
}

.sentence.show {
  opacity: 1;
}
.jh {
  /* width: 22%; */
}

.sentence.hide {
  opacity: 0;
}

.image-card {
  position: relative;
  overflow: hidden;
  width: 300px; /* Set your desired width */
  height: 200px; /* Set your desired height */
}

/* ImageCard.css */

.image-card {
  position: relative;
  overflow: hidden;
  width: 300px; /* Set your desired width */
  height: 200px; /* Set your desired height */
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Adjust the transition properties as needed */
  opacity: 1;
}

.image-card:hover .card-image {
  opacity: 0.8; /* Adjust the opacity on hover */
}

.lg {
  display: none;
}

.sm2 {
}

.right_ul .right_lim {
  display: none;
}

@media screen and (max-width: 1105px) {
  .grid_text {
    font-size: 100px;
  }

  .dg,
  .dg2 {
    font-size: 70px;
  }
  .sentence {
    padding: 40px 20px;
  }

  .sentence-container {
    padding: 80px 20px;
    height: 50vh;
  }
  .video_container {
    padding: 0;
  }

  .header_sub {
    padding: 0;
  }
  .header_container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 910px) {
  .buha {
    /* display: none; */
  }

  .header_middle {
    flex: 5;
  }
  .header_right {
    flex: 0;
  }

  .sm2 {
    display: flex;
    /* display: none; */
  }
  .grid_text {
    font-size: 70px;
  }

  .dg,
  .dg2 {
    font-size: 60px;
  }

  .sentence-container {
    padding: 70px 20px;
    height: 45vh;
  }

  .sentence {
    padding: 0 20px;
  }
}

@media screen and (max-width: 636px) {
  .buha {
    /* display: none; */
  }

  .sm2 {
    display: none;
  }

  .lg {
    display: flex;
    justify-content: flex-end;
  }
  .header_sub_grider {
    /* transition: border-bottom 0.9s; */
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    margin: 0px 0px 0px auto;
  }

  .header_sub_grid {
    justify-content: flex-end;
    display: flex;
  }

  .header_grid {
    display: flex;
    flex-direction: column;
  }
  .grid_text {
    font-size: 50px;
  }

  .dg,
  .dg2 {
    font-size: 45px;
  }
  .sentence-container {
    /* padding: 35px 20px;
    height: 20vh;
    margin-bottom: 30px; */

    height: 10vh;
    margin-top: 0;
  }
}

.video {
}

@media screen and (max-width: 590px) {
  .header_middle {
    flex: 7;
  }

  .two {
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .duke {
    margin: 150px 0;
  }

  .video_container {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 55vh;
  }

  .video {
    height: 55vh;
    object-fit: cover;
  }
  .header_left {
    flex: 3;
  }
  .header_para,
  .header_title {
    width: 90%;
    font-size: 14px;
  }

  .header_right {
    flex: 0;
  }

  .dg,
  .dg2 {
    font-size: 30px;
  }

  .sentence-container {
    /* height: 60px; */
  }
}
