.footer_container {
  padding: 60px 0px;
  width: 100%;
  height: auto;
}

.footer_main {
  padding: 20px 50px;
}
.bottom_para_section_footer {
  font-weight: 400;
  font-size: 60px;
  letter-spacing: -0.03em;
  line-height: 1.1;
  margin-bottom: 40px;
  font-family: "AftenScreen", sans-serif;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.bottom_para_section_footer2 {
  font-weight: 400;
  font-size: 55px;
  letter-spacing: -0.03em;
  line-height: 1.1;
  margin-bottom: 40px;
  font-family: "AftenScreen", sans-serif;
  width: 100%;
  /* position: absolute; */
  /* right: 0; */
}

.footer_para2 {
  margin: 40px 0;
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
  /* width: 100%; */
  /* position: relative; */
}
.foota {
  width: 40px;
}

.jkl {
  transition: border-bottom 0.9s;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px 0px auto;
}

.jkl:hover.footer_para2 {
  width: fit-content;
  border-bottom: 1px solid #333;
}

.bottom_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer_ul {
  display: flex;
}

.footer_li {
  font-size: 14px;
  cursor: pointer;
  color: #a2a2a9;
  list-style: none;
}
.copyright {
  font-size: 16px;
  color: #a2a2a9;
}
