* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  width: 100%;
  color: #070707;
  height: auto;
  /* background-color: transparent; */
}

@font-face {
  font-family: "BentonSans";

  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "BentonSans", sans-serif;
}
