* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
position: relative;
  width: 100%;
  color: #070707;
  height: auto;
  /* background-color: transparent; */
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  height: 100vh;
}

@font-face {
  font-family: "BentonSans";

  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "BentonSans", sans-serif;
}

.linka {
  color: inherit;
  text-decoration: none;
}
